
footer {
    background-color: rgba(0, 0, 0, 0.7058823529);
    color: white;
    padding: 18px;

    i{
        padding-right: 6px;
        font-size: 0.8rem;;
    }
    .couteaux{
        padding-right:10px;
        
    }
    a{
        color:white;
        text-decoration: none;
    }
    h4{
        font-family: Shrikhand;
        font-size: 1.3rem;
        margin-top:0px;
        font-weight: 500;
        margin-bottom:15px;
    }
    ul {
        list-style-type: none;
        padding-left: 0px;
      }
      li {
        padding-bottom: 10px;
      }
  }

