
@import "couleurs.scss";
@import "button.scss";
@import "footer.scss";
@import "coeur.scss";
*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: Roboto, sans-serif;
}
h2{
    font-family: Shrikhand;
    font-weight: lighter;
}

header{
    .header_logo{
        position:relative;
        a{
            position: relative;
            text-decoration: none;
            color: #000;
        }
        i{
            font-size: 1.1rem;
            left:20px;
            top:20px;
            position: absolute;
        }
    }
    .img_logo{
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0px;
    }
    .img_restaurant{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
main{
    .container{
        border-radius: 2rem 2rem 0 0;
        margin-top: -80px;
        background-color: #f3f2f2;
        position: relative;
        padding:20px;
        .header_menu{
            padding-top: 5px;
            display: flex;
            justify-content: space-between;
            margin-right: 30px;
            h2{
                font-size: 1.5rem;
                margin-top:0px;
            }  
        }
        h3{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 400;
            margin: 18px 0 10px 0;
            padding-bottom:8px;
            position: relative;
        }
        h3::after{
            content: "";
            background-color: $tertiaire;
            position: absolute;
            left:0;
            bottom:0;
            width: 3rem;
            height: 4px;
        }
        .menu_item{
            background-color: #fff;
            padding: 12px;
            margin-top: 20px;
            border-radius: 1.1rem;
            box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .prix_item{
                
            }
            strong{
                display: flex;
               justify-content: flex-end;
               align-items: flex-end;
            }
            .titre_item{
                display: block;
                margin-bottom: 8px;
                font-size: 1.15rem;
            }
            .text_item{
                width:80%;
                text-overflow: ellipsis;
            }
            .menu_check{
                background-color: $tertiaire;
                margin: -1rem -5rem -1rem 1rem;
                width: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;
                transition-duration: 500ms;
                .icone_check{
                    height: 26px;
                    width: 26px;
                    background-color:white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                    transition-delay: 1s;
                    transform: rotate(-360deg);
                    transition-duration: 400ms;
                    .fas{
                        display: inline-block;
                        
                    }
                    i{
                        color: $tertiaire;
                    }
                }
                
            }
            &:hover{
                .prix_item{
                    margin-right:60px;
                }
                .menu_check{
                    transform: translateX(-68px);  
                    transition: transform 400ms ease-in-out;
                    display: flex;
                }
                .icone_check i{  
                    transform: rotate(360deg);  
                }
            }
        }
    }
}
@media (min-width: 772px){
    header{
        .img_restaurant{
            height: 350px;
            object-fit: cover;
        }
    }
}
@media (min-width: 1300px){
    .header_menu h2{
        padding-left: 6px;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        article{
            width:33%;
        }
    }
    .menu_item{
        width: 90%;;
        margin: 0px;
    }
}
  
  