@import "keyframes/_keyframes-loading-spinner.scss";
@import "components/normalize.css";
@import "components/couleurs.scss";
@import "components/button.scss";
@import "components/footer.scss";
@import "components/coeur.scss";

*{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: Roboto, sans-serif;
}
h2{
    font-size: 1.5rem;
    font-weight:700;
}
                    /* HEADER */

.flexLoca{
    padding: 0.5rem;
    box-shadow:0 6px 8px 1px #00000066;
    position: relative;
    img{
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0px;
    }
}
.loca{
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #e5e2e2;
    font-size: 1rem;
    opacity: 0.7;
    i{
        margin-right: 15px;
    }
    span{
        font-weight: 700;
    }
}
                    /* explainLoca */
.exploration{
    padding: 15px 36px;
    text-align: center;
    background-color: #f3f3f3;
    h3{
        font-weight: 700;
        font-size: 1.5em;
        margin-bottom:15px;
        padding: 0px 15px;
    }
    p{
        opacity: 0.5;
        margin-bottom:26px;
    }
    button{
        margin-bottom:36px;
    }
}
.fonctionnement{
    padding: 1rem;
    font-weight: bold;
    ol{
        counter-reset: listButton;
        padding:10px 0px;
    }
    li{
        list-style-type: none;
        background: #f6f6f6;
        display:flex;
        padding: 1.5rem;
        align-items: center;
        box-shadow: 0.25rem 0.25rem 0.5rem #00000022;
        position: relative;
        border-radius: 15px;
        margin: 24px 10px;
        font-weight: 500;
    }
    li::before{
        counter-increment: listButton;
        content: counters(listButton,".") " ";
        background-color: #9356DC;
        color:white;
        border-radius: 30px;
        display:flex;
        height: 30px;
        width: 30px;
        justify-content: center;
        position: absolute;
        margin-right: 15px;
        align-items: center;
        left: -0.5rem;;
    }
    li:hover{
        background-color: #F7F1FF;
        i{
            color: #9356DC;
        }
    }
    i{
        color:grey;
        padding: 0px 16px;
        font-size: 20px;
    }
}
.restaurants{
    padding: 15px;
    background-color: #f6f6f6;
    .card{
        position: relative;
        display: block;
        text-decoration: none;
        border-radius: 18px;
        overflow: hidden;
        background:white;
        box-shadow: 0 5px 15px #00000033;
        margin-bottom: 24px;
    }
    img{
        height: 180px;
        width: 100%;
        object-fit: cover;
       
    }
    .new{
        position: absolute;
        right:15px;
        top: 15px;
        padding: 7px 10px;
        background: $tertiaire;
        color:green;
        border-radius: 2px;
        font-size: 0.8rem;
    }
    .article_content{
        margin:18px 10px;
        color:black;
        h3{
            margin: 0px;
        }
        p{
            margin: 6px 0px;
            opacity: 0.8;
        }
        i{
            font-size: 32px;
            position: absolute;
            bottom:30px;
            right: 16px;
        } 
    }
}
@media (min-width: 772px){
        .fonctionnement{
            padding: 30px 5%;
        }
        .fontctionnementList{
            display: flex;
            li{
                display: flex;
                width: 30%;
            } 
        }
        .restaurants{
            padding: 0px 5%; 
            img{
                height: 100%;
                width: 63%;
                min-width: 63%;;
            }      
         }
        .cards {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom:30px;
            h2{
                width:100%;
                padding-bottom: 30px;;
            }
            
            .card{
                width: 45%;
                display: flex;
                height: 200px;;
            }
            .new{
                left:20px;
               right: initial;
                font-size: 1rem;;
            }
        }
}
@media (min-width: 1600px){
 
        .explainLoca{
            display: flex;
            justify-content: space-between;
            padding: 0px 80px;
        }
        .exploration{
            background-color: white;
           
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            button{
                padding: 1rem 0rem;
                margin-bottom: 0px;
                width:80%;
            }
        }
        .fonctionnement{
            ol{
                display: flex;
                flex-direction: column;
                width: 600px;
                margin:0px;
                padding:0px;
                li{
                    display: flex;
                    width: 100%;
                    padding: 1.2rem;
                } 
            }
        }
        .restaurants{
            padding: 0px 80px; 
         }
        .card{
                margin-bottom: 50px;  
        }
}