:root {
    --primaire: #9356DC ;
    --secondaire:#FF79DA ;
    --tertiaire: #99E2D0;
  }

body{
    margin:0px;
    font-family: Roboto, sans-serif;
}
h2{
    font-family: Shrikhand;
    font-weight: lighter;
}
button {
    border: 0;
    display: block;
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
    padding: 1rem 1.8rem;
    font-size: 1rem;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    cursor: pointer;
  }
header{
    .header_logo{
       
        position:relative;
        a{
            position: relative;
            text-decoration: none;
            color: #000;
        }i{
            font-size: 1.1rem;
            left:20px;
            top:20px;
            position: absolute;
        }
    }
   
    .img_logo{
        width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 15px 0px;
    }
    .img_restaurant{
        width: 100%;
    }
}
main{
    .menu{
        border-radius: 2rem 2rem 0 0;
        margin-top: -80px;
        background-color: #f3f2f2;
        position: relative;
        padding: 0px 20px;
        height: 500px;
        .header_menu{
            
            padding-top: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 30px;
            h2{
                font-size: 1.5rem;
            }
            i{
                font-size: 1.5rem;;
            }
        }
        h3{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 400;
            margin: 0 0 10px 0;
            padding-bottom:8px;
            position: relative;
        }
        h3::after{
            content: "";
            background-color: #99E2D0;
            position: absolute;
            left:0;
            bottom:0;
            width: 3rem;
            height: 4px;
        }
        .menu_item{
            background-color: #fff;
            padding: 12px;
            margin-top: 20px;
            border-radius: 1.1rem;
            box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
            overflow: hidden;
            display: flex;
            cursor: pointer;
            strong{
                display: flex;
               justify-content: flex-end;
               align-items: flex-end;
            }
            .titre_item{
                display: block;
                margin-bottom: 8px;
                font-size: 1.15rem;
            }
            .text_item{
                width:80%;
            }
            .menu_check{
                background-color: var(--tertiaire);
                margin: -1rem -5rem -1rem 1rem;
                width: 4rem;
               
                display: flex;
                align-items: center;
                justify-content: center;
                transition-duration: .5s;
                display: none;
                .icone_check{
                    height: 26px;
                    width: 26px;
                    background-color:white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100px;
                  
                    i{
                        color: var(--tertiaire);
                    }
                }
                
            }
        }
        .menu_item:hover .menu_check{
            transform: translate(-30px);
            transition-duration: 1s;
            display: flex;
           
        }
        
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.7058823529);
    color: white;
    padding-left: 16px;
    a{
        color:white;
        text-decoration: none;
    }
    h4{
        font-family: Shrikhand;
        font-size: 1.3rem;
        padding-top: 16px;
        font-weight: 500;
        margin-bottom:15px;
    }
    ul {
        list-style-type: none;
        padding-left: 0px;
      }
      li {
        padding-bottom: 10px;
      }
  }
  
  