@import "couleurs.scss";

.coeurPlein{
    color:transparent;
    transition: all 450ms;
    &:hover{
        background: linear-gradient( $primaire, $secondaire);
        transform: scale(1.1);
        -webkit-background-clip: text;
    }
}
